<div class="container d-inline">
	
		<h2 class="m-4 text-uppercase">open processes</h2>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Title</th>
					<th scope="col">Responsible</th>
					<th scope="col">Description</th>
				</tr>
			</thead>
			<tbody>
				{{#each process}}
					<tr>
						<td>{{title}}</td>
						<td>{{creator}}</td>
						<td>{{description}}</td>
						<td>
							<a class="btn btn-danger" href="/links/delete/{{id}}">Delete</a>
							<a class="btn btn-dark" href="/links/edit/{{id}}">Edit</a>
						</td>
					</tr>
				{{else}}
					<tr>
						<td colspan="2">No process created yet</td>
						<td><a href="/links/add" class="btn btn-success">add one</a></td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	
</div>